# Environment
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Logs
*.log
flask-error.log

# SQLite exports
*.sqlite
*.sqlite.gz

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
media/
backup/
zoo_test1/
check_media_files.py
GetZooID.py
tests/.env_test
tests/.env_test
.env_test
zoo_test1/
